body{
    background-color: blue;
}
*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.adjust-text
{
    text-align: justify;
}
.adjust-text1{
    text-align: justify;
}
/*.input-icon .fa-solid
{
    position: absolute;
    padding: 10px;
    min-width: 40px;
}*/
/*.text-white i
{
  background-color: blue;   
}*/