<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About EJS</title>
    <link rel="stylesheet" href="/css/index.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"/>
</head>
<body>
    <!-- include header here -->
    <%- include('../partials/header') %>
    

    <!-- our about page logic start here -->
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>About Us</h2>
            </div>

            <div class="col-md-7 col-12">
                <p class="adjust-text">The best About Us pages share the company and founders’ stories. It’s a chance to pull back the curtain on the business and showcase the people who make it happen.This is your chance to focus on your company’s “why.” It could be what sets you apart from other competitors on the market.Share the moment you gained the inspiration for your business and what motivated you to start it.</p>

                <p class="adjust-text">No matter what industry you’re in, you could use an About Us page on your site. While the four components listed above are necessary for every About Us page, different industries sometimes take different approaches. Below, you’ll find 30 of the best About Us pages categorized by industry. Learn from their successes and adapt some of their strategies when creating your own.
                Most importantly, though, an About Us page facilitates trust between the consumer and the business.
                More than 33% of consumers say that “trust” is a core factor when deciding which businesses to support.
                With an About Us page, you can begin to form an emotional relationship with customers and engage with them on a deeper level.
                </p>
                <ul>
                    <li>“Our Mission”</li>
                    <li>“Our Story”</li>
                    <li>“About Our Company”</li>
                    <li>Or simply “About”</li>
                </ul>
            </div>

            <div class="col-md-5 col-12">
                <h2>Spotify HQ</h2>
                <p>Spotify AB <br>
                    Regeringsgatan 19 <br>
                    SE-111 53 Stockholm <br>
                    Sweden <br>
                    Reg no: 556703-7485 <br>
                    office@spotify.com </p>
            </div>
            </div>
           
            <div class="row">
                <div class="col-md-7 col-12">
                    <h2>Customer Service and Support</h2>
                    <p class="adjust-text">You can include all of these sections, some of them, or just one or two. 
                        It depends entirely on your business type, including your industry, what you sell, and how unique your products/services are. 
                        On top of that, take into account your brand voice as well as what your customers would be interested to know.
                        As you’ll soon see, some businesses devote one or two short paragraphs to their About page – and that’s it. Others tell a long story of how they were founded, and yet more have multiple pages within their About page wheelhouse. 
                        For example, if your brand is founded on strict environmental or ethical principles, you’ll probably spend more time explaining how you uphold those standards versus a brand that sells a simple, straightforward product.</p>

                        <ul>
                            <li>Who you serve and what you do for them.</li>
                            <li>Your brand values, what you believe in, and how you uphold those values in your day-to-day operations.</li>
                            <li>An explanation of your process, how your services work, or how your products are made.</li>
                        </ul>
                </div>

               <div class="col-md-5 col-12">
                <h2>Spotify Around The World</h2>
                <div class="row">
                    <div class="col-md-6 col-12">
                        <li>“Our Mission”</li>
                        <li>“Our Story”</li>
                        <li>“About Our Company” </li>
                        <li>Or simply “About”</li>
                    </div>
                    <div class="col-md-6 col-12 mt-md-0 mt-4">
                        <li>“Our Mission”</li>
                        <li>“Our Story”</li>
                        <li>“About Our Company” </li>
                        <li>Or simply “About”</li>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 col-12 mt-4">
                        <li>“Our Mission”</li>
                        <li>“Our Story”</li>
                        <li>“About Our Company” </li>
                        <li>Or simply “About”</li>
                    </div>
                    <div class="col-md-6 col-12 mt-4">
                        <li>“Our Mission”</li>
                        <li>“Our Story”</li>
                        <li>“About Our Company” </li>
                        <li>Or simply “About”</li>
                    </div>
                </div>
               </div>                
            </div>
        </div>
    

    <%- include('../partials/footer') %>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"></script>
</body>
</html>